<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    <h3>username, {{object.username}}</h3>
    <h3>bio, {{object.bio}}</h3>
    <h3>website, {{object.website}}</h3>
    <p>followers : {{followers_count}}</p>
    <p>following : {{followings_count}}</p>
    <p>posts : {{posts_count}}</p>

    {% if not is_the_same %}
    <form action="{% url 'follow-unfollow' object.username %}" method="post">
        {% csrf_token %}
        <input type="submit" value={% if is_following %}"unfollow"{% else %}"follow"{% endif %}>
    </form>
    {% endif %}
</body>
</html>