
{% block content %}
<h1>Search Games</h1>
<form action="{% url 'result_game' %}" method="get">
    <label for="q">Enter the name of a game:</label>
    <input type="text" id="q" name="q" required>
    <button type="submit">Search</button>
</form>

<h1>Search movies</h1>
<form action="{% url 'result_movie' %}" method="get">
    <label for="q">Enter the name of a movie:</label>
    <input type="text" id="q" name="q" required>
    <button type="submit">Search</button>
</form>

<h1>Search tv shows</h1>
<form action="{% url 'result_tv' %}" method="get">
    <label for="q">Enter the name of a tv show:</label>
    <input type="text" id="q" name="q" required>
    <button type="submit">Search</button>
</form>
{% endblock %}